.catalog-items {
    width: 103rem;

    &__popup-date {
        display: none;
    }

    &__date-mobile {
        display: none;
    }

    &__popup {
        display: none;
    }

    &__categories {
        display: none;
    }

    &__filtres {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 6.4rem;
    }

    &__tabs {
        display: flex;
        column-gap: 3rem;
    }

    &__tab {
        &.active {
            background-color: #840D06;
            color: #fff;
        }
    }

    &__date {
        background-color: #840D06;
        border-radius: 5rem;
        width: 23.6rem;
        padding: 2.2rem 2.4rem;
        color: #FFF;
        font-size: 2rem;
        font-weight: 500;
        line-height: 110%; /* 2.2rem */
        background-image: url(../../img/calendar.svg);
        background-repeat: no-repeat;
        background-size: 5.4rem 5.4rem;
        background-position: right 0.6rem center;
        border: none;

        &::placeholder {
            color: #FFF;
            font-size: 2rem;
            font-weight: 500;
            line-height: 110%; /* 2.2rem */
        }
    }

    &__more {
        position: relative;

        &:hover {
            .catalog-items__more-list__wrapper {
                display: block;
            }
        }

        &-list {
            border-radius: 3rem;
            background: #FFF;
            padding: 3.2rem;

            li {
                color: #1A1A1A;
                font-family: 'Inter';
                font-size: 2.4rem;
                line-height: 3rem; /* 125% */
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            &__wrapper {
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 6.5rem;
                z-index: 10;
                display: none;
            }
        }
    }

    &__title {
        font-size: 6rem;
        font-weight: 500;
        line-height: 110%; /* 6.6rem */
        margin-bottom: 6rem;
    }

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3rem;

        .global-search {
            margin: 0;
            width: auto;
            flex: 0 0 76.5rem;

            input {
                width: 100%;
            }
        }
    }

    &__sort {
        font-size: 3rem;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        column-gap: 1.9rem;

        svg {
            width: 1.4rem;
            height: 0.8rem;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }

    &__item {
        flex: 0 0 50rem;
        position: relative;
        padding: 1.2rem;
        border-radius: 0rem 6rem;
        background: #DEDAD6;

        &-sale {
            display: none;
            position: absolute;
            top: 3.2rem;
            left: 3.2rem;
        }

        &-initial-price {
            display: none;
            margin-bottom: 0.5rem;
        }

        &.sale {
            .catalog-items__item-sale {
                display: block;
            }

            .catalog-items__item-initial-price {
                display: block;
            }
        }

        &-img {
            width: 47.6rem;
            height: 40rem;
            border-radius: 0rem 6rem;
            overflow: hidden;

            img {
                width: 47.6rem;
                height: 40rem;
                border-radius: 0rem 6rem;
                overflow: inherit;
            }
        }
    
        &-like {
            position: absolute;
            top: 3.2rem;
            right: 3.2rem;
        }

        &-descr {
            padding: 2rem;
        }

        &-title {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 3rem;
            font-weight: 500;
            line-height: 130%; /* 3.9rem */
            margin-bottom: 1.6rem;
        }

        &-bottom {
            display: flex;
            align-items: flex-end;
        }

        &-price {
            margin-right: 3.1rem;
        }

        &-buy {
            margin-left: auto;
        }
    }

    &__item2 {
        display: flex;
        position: relative;
        padding: 1.2rem 4.5rem 1.2rem 1.2rem;
        border-radius: 0rem 6rem;
        background: #DEDAD6;
        min-height: 43.7rem;

        &.sale {
            .catalog-items__item-sale {
                display: block;
            }
        }

        &-img {
            width: 35.5rem;
            height: 41.3rem;
            overflow: hidden;
            border-radius: 0rem 6rem;
            margin-right: 3rem;
        }

        &-descr {
            padding: 3.3rem 0 3.2rem 0;
            width: 58.5rem;
            display: flex;
            flex-direction: column;
        }

        &-title {
            color: #191919;
            font-size: 3rem;
            font-weight: 500;
            line-height: 110%; /* 3.3rem */
            margin-bottom: 3.2rem;
        }

        &-info {
            display: flex;
            justify-content: space-between;
        }

        &-post,
        &-days {
            color: #6D6D6D;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 110%; /* 2.42rem */
            margin-bottom: 0.8rem;
        }

        &-name,
        &-date {
            color: #191919;
            font-size: 2.2rem;
            line-height: 110%; /* 2.42rem */
        }

        &-dates {
            display: flex;
            width: 29.1rem;
            column-gap: 2.4rem;
            row-gap: 0.8rem;
            flex-wrap: wrap;
        }

        &-bottom {
            margin-top: auto;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

        &-type {
            color: #840D06;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 110%; /* 2.42rem */
        }
    }

    @media (max-width: 48em) {
        width: auto;

        &__popup-date {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #F5F2EA;
            height: 100vh;
            z-index: 20;
            padding: 4rem 2rem 8.4rem 2rem;
            transform: translateY(-100%);
            transition: 0.8s ease-in-out;

            &.active {
                transform: translateY(0%);
            }

            &__head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 4.4rem;

                span {
                    font-size: 4.4rem;
                    font-weight: 500;
                    line-height: 110%; /* 4.84rem */
                }

                div {
                    width: 10.8rem;
                    height: 10.8rem;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }

            &__sort {
                &-title {
                    font-size: 3.6rem;
                    font-weight: 500;
                    line-height: 130%; /* 4.68rem */
                    margin-bottom: 3.2rem;
                }

                &-list {
                    margin-bottom: 6.4rem;

                    li {
                        font-size: 3.6rem;
                        line-height: 130%; /* 4.68rem */

                        &:not(:last-child) {
                            margin-bottom: 1.6rem;
                        }
                    }
                }
            }

            &__calendar {
                color: #1A1A1A;
                font-size: 3.6rem;
                font-weight: 500;
                line-height: 130%; /* 4.68rem */
                background: none;
                border: none;
                width: 100%;
                margin-bottom: 3.2rem;

                &::placeholder {
                    color: #1A1A1A;
                    font-size: 3.6rem;
                    font-weight: 500;
                    line-height: 130%; /* 4.68rem */
                }
            }
        }

        &__list {
            gap: 4rem;
        }

        &__title {
            font-size: 7.2rem;
            font-weight: 500;
            line-height: 110%; /* 7.92rem */
        }

        &__item {
            flex: 0 0 71rem;
            padding: 1.2rem;
            border-radius: 0rem 8rem;

            &-img {
                width: 68.6rem;
                height: 55.4rem;
                border-radius: 0rem 7rem;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0rem 7rem;
                }
            }

            &-descr {
                padding: 3.2rem 2rem 2.8rem;
            }

            &-title {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */
                max-width: 51.8rem;
                margin-bottom: 3.2rem;
            }

            &-price {
                font-size: 6.4rem;
                line-height: normal;

                span {
                    font-size: 4rem;
                    line-height: normal;
                }
            }

            &-initial-price {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */

                &::before {
                    width: 7.3rem;
                }
            }

            &-like,
            &-buy {
                width: 11.2rem;
                height: 11.2rem;

                svg {
                    width: 6rem;
                    height: 6rem;
                }
            }

            &-like {
                right: 3.2rem;
                top: 3.2rem;
            }
        }

        &__item2 {
            padding: 2rem 2.4rem 4rem 2rem;
            flex-direction: column;
            width: 71rem;
            min-height: 118.4rem;

            &.sale {
                .catalog-items__item-sale {
                    top: 4rem;
                    left: 4rem;
                }
            }

            &-img {
                width: 66.6rem;
                height: 45.6rem;
                border-radius: 0rem 6rem 0rem 0rem;
                margin-right: 0;
                margin-bottom: 4rem;

                img {
                    width: 66.6rem;
                    height: 45.6rem;
                }
            }

            &-descr {
                height: calc(100% - 49.6rem);
                width: 100%;
                padding: 0 1.6rem 0 2rem;
            }

            &-title {
                font-size: 4.4rem;
                line-height: 110%; /* 4.84rem */
                margin-bottom: 4rem;
            }
    
            &-info {
                flex-direction: column;
                row-gap: 3.2rem;
                margin-bottom: 4rem;
            }

            &-post,
            &-days {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */
                margin-bottom: 1.6rem;
            }

            &-dates {
                width: auto;
            }

            &-name,
            &-date {
                font-size: 3.2rem;
                line-height: 130%; /* 4.16rem */
            }

            &-bottom {
                align-items: center;
            }

            &-type {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */
            }
        }

        &__sort {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 110%; /* 3.52rem */

            svg {
                width: 2rem;
                height: 1rem;
            }
        }

        &__date-mobile,
        &__categories {
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 110%; /* 3.52rem */
            column-gap: 2rem;

            svg {
                width: 2rem;
                height: 1rem;
            }
        }

        &__date,
        &__tabs {
            display: none;
        }

        &__popup {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            border-radius: 0rem 0rem 4rem 4rem;
            background: #DEDAD6;
            box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
            width: 75rem;
            height: 13.2rem;
            z-index: 20;
            padding: 0 2rem;
            transform: translateY(-100%);
            transition: 0.2s ease-in-out;

            &-column {
                font-size: 3.2rem;
                font-weight: 500;
                line-height: 110%; /* 3.52rem */
                display: flex;
                column-gap: 2rem;
                align-items: center;
            }

            &.active {
                transform: translateY(0%);
            }
        } 
    }
}