.header {
    padding-top: 2.4rem;
    // margin-bottom: 5.4rem;
    position: absolute;
    width: 100%;
    z-index: 5;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 6rem;
    }

    &__container {
        width: 157rem;
        margin: 0 auto;
    }

    &__inner-block {
        display: flex;
        align-items:center;
    }

    &__data-item {
        display: flex;
        align-items:center;
        padding-right: 2.6rem;
        position: relative;
        &:hover {
            &::before {
                transform: rotate(180deg);
                transition: all 0.2s;
            }
        }
        &::before {
            position: absolute;
            content:'';
            width: 1.4rem;
            height: 0.8rem;
            background-image: url(../img/logo/tringle.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
            top: 33%;
            transition: all 0.2s;
        }


        a {
            font-family: 'Inter',sans-serif;
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 115.385%; 
        }

        span {
            font-family: 'Inter',sans-serif;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125% ;
            margin-right: 1.2rem;
        }

        &:first-child {
            position: relative;

            &:hover {
                .header__data-item__contacts-wrapper {
                    display: block;
                }
            }

            .header__data-item__contacts-wrapper {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                padding-top: 4rem;
            }

            .header__data-item__contacts {
                width: 51.3rem;
                background-color: #fff;
                border-radius: 3rem;
                padding: 3.2rem;
                filter: drop-shadow(0px 8px 24px rgba(0, 0, 0, 0.15));
                cursor: pointer;

                .header__data-item__contact {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 2.4rem;
                    line-height: 3rem; /* 125% */

                    a {
                        // display: inline-block;
                        font-size: 2.6rem;
                        font-weight: 600;
                        line-height: 3rem; /* 115.385% */
                    }

                    &:hover {
                        color: #840D06;
                    }

                    &:first-child {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    &__data-block {
        position: absolute;
        padding: 3.2rem;
        min-width: 50.6rem;
        top: 4rem;
        display: none;
        z-index: 4;
        background: #fff;
        border-radius: 3rem;
        gap: 2rem;

        li {
            display: flex;
            margin-bottom: 2rem;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                color:#840D06;
            }
            span {
                font-family: 'Inter',sans-serif;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 125%; 
            }

            a {
               
                font-family: 'Inter',sans-serif;
                font-size: 2.6rem;
                font-style: normal;
                font-weight: 600;
                line-height: 115.385%; 
            }
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

   

    &__inner-date {
        font-family: 'Inter',sans-serif;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        padding-left: 4rem;
        position: relative;
        &::before {
            position: absolute;
            content:'';
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../img/logo/clock.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__wrapper {
        display: flex;
    }

    &__wrapper-mob {
        display: none;
    }

    &__lists-left {
        display: flex;
        margin-right: 13.7rem;
        li {
            font-family: 'Inter';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin-right: 3.2rem;
            transition: 0.2s;
            
            &:hover {
                transition: 0.2s;
                color:#840D06;
            }

        }

        li:last-child {
            margin-right: 0;
        }
    }

    &__lists-right {
        display: flex;
        li {
            font-family: 'Inter';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin-right: 3.2rem;

            &:hover {
                transition: 0.2s;
                color:#840D06;
            }
        }

        
    }

    &__wrapper-block {
        display: flex;
        margin-top: -1.65rem;
    }

    &__search {
        width: 3rem;
        height: 3rem;
        margin-right: 0.8rem;
    }

    &__user {
        width: 3rem;
        height: 3rem;
        margin-right: 0.8rem;
        position: relative;

        @media (min-width: 48em) {
            &:hover {
                .header__user-menu {
                    display: block;
                }
            }
        }

        &-menu {
            display: none;
            position: absolute;
            top: 0;
            right: -8rem;

            .wrapper { 
                padding-top: 7.6rem;
            }

            &__login {
                width: 44.4rem;
                background-color: #fff;
                border-radius: 3rem;
                padding: 3.2rem;
                font-size: 2.2rem;
                line-height: 130%; /* 2.86rem */

                & > a {
                    margin-top: 2rem;

                    .all-btn {
                        &__arrow {
                            margin-left: 0;
                        }
                    }
                }
            }

            &__account {
                display: none;
                width: 44.4rem;
                background-color: #fff;
                border-radius: 3rem;
                padding: 3.2rem;

                &-item {
                    font-size: 2.2rem;
                    font-weight: 400;
                    line-height: 130%; /* 2.86rem */
                    padding-left: 4.6rem;

                    &:first-child {
                        background-image: url(../../img/icon/user.svg);
                        background-position: top left;
                        background-size: 3rem 3rem;
                        background-repeat: no-repeat;
                    }

                    &:nth-child(2) {
                        background-image: url(../../img/icon/exit.svg);
                        background-position: top left;
                        background-size: 3rem 3rem;
                        background-repeat: no-repeat;
                    }

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    &__basket {
        width: 3rem;
        height: 3rem;
    }

    &__search,
    &__user,
    &__basket {
        width: 6.6rem;
        height: 6.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 3.3rem;
        background-position-x: -5rem;

        svg {
            width: 3rem;
            height: 3rem;
            cursor: pointer;

            &:hover {
                stroke: #840D06;
            }
        }
    }

    &__logo {
        width: 13.7rem;
        height: 17rem;
        display: block;
        margin-right: 5.3rem;
        margin-top: -9rem;
    }

    
}
