.ingredient {
    &-info {
        padding-top: 22.3rem;
        margin-bottom: 10rem;

        &__main {
            display: flex;
        }

        &__left {
            width: 63.3rem;
            height: 42.2rem;
            border-radius: 0rem 6rem;
            overflow: hidden;
            margin-right: 9rem;
            background: #DEDAD6;
            padding: 1.2rem;

            img {
                border-radius: 0rem 6rem;
                overflow: inherit;
            }
        }

        &__right {
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
        }

        &__name1 {
            font-size: 4rem;
            font-weight: 500;
            line-height: 110%; /* 4.4rem */
            margin-bottom: 2.4rem;
        }

        &__name2 {
            font-size: $titleMedium;
            font-weight: 500;
            line-height: 130%; /* 3.9rem */
            margin-bottom: 2.4rem;
        }

        &__name3 {
            color: #6D6D6D;
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */
        }

        &__composition {
            margin-top: auto;
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */
        }

        &__background {
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    &-descr {
        margin-bottom: 20rem;

        &__tabs {
            margin-bottom: 6rem;
            display: flex;
            column-gap: 3rem;
        }

        &__tab {
            &.active {
                background-color: #840D06;
                color: #fff;
            }
        }

        &__blocks {
            width: 89.7rem;

            .description-block {
                display: flex;
                flex-direction: column;

                &__box1 {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                    margin-bottom: 6rem;
                }
        
                &__box2 {
                    display: flex;
                    flex-direction: column;
                    row-gap: 5rem;
                }

                &__title {
                    font-size: $titleMedium;
                    font-weight: 500;
                    line-height: 130%; /* 3.9rem */
                    margin-bottom: 1rem;
                }

                &__text {
                    font-size: $textBig;
                    line-height: 130%;

                    span {
                        color: #840D06;
                        font-size: $textBig;
                        line-height: 130%;
                    }

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }
                }

                &__list {
                    list-style-type: none;

                    li {
                        font-size: $textBig;
                        line-height: 130%; /* 3.38rem */
                        padding-left: 2.8rem;
                        background-image: url(../../img/ingredient/list-icon.svg);
                        background-position: 0 1.6rem;
                        background-repeat: no-repeat;

                        &:not(:last-child) {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            .raw-block {
                display: flex;
                flex-direction: column;
                row-gap: 1.6rem;

                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.8rem 1.6rem;
                    border-radius: 6rem;
                    background: #DEDAD6;
                    font-size: $textSmall;
                    line-height: 130%; /* 2.86rem */
                }
            }

            .ingredient-descr__block {
                display: none;
    
                &.active {
                    display: flex;
                }
            }
        }
    }

    @media (max-width: 48em) {
        &-info {
            padding-top: 28.6rem;
            margin-bottom: 12rem;

            &__main {
                flex-direction: column-reverse;
                row-gap: 4rem;
                position: relative;
            }

            &__background {
                display: none;
            }

            &__right {
                padding: 0;
            }

            &__name1 {
                font-size: $titleMediumMob;
                line-height: 110%; /* 4.84rem */
                margin-bottom: 1.6rem;
            }

            &__name2 {
                font-size: $textBigMob;
                line-height: 130%; /* 4.68rem */
                margin-bottom: 1.6rem;
            }

            &__name3 {
                font-size: $textBigMob;
                line-height: 130%; /* 4.68rem */
            }

            &__composition {
                position: absolute;
                top: 30.4rem;
                left: 36.6rem;
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
            }

            &__left {
                width: 34.6rem;
                height: 36.6rem;
                padding: 1.2rem;
                border-radius: 12rem 0rem;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12rem 0rem;
                }
            }
        }

        &-descr {
            &__tabs {
                margin-bottom: 8rem;
                width: 71rem;
                overflow-x: scroll;
            }

            &__tab {
                text-wrap: nowrap;
            }

            &__blocks {
                width: 71rem;

                .description-block {
                    &__box1 {
                        margin-bottom: 8rem;
                        row-gap: 4rem;

                        .description-block__list {
                            margin-top: 4rem;
                        }
                    }

                    &__box2 {
                        row-gap: 8rem;
                    }

                    &__title {
                        font-size: $titleMediumMob;
                        line-height: 110%; /* 4.84rem */
                        margin-bottom: 1.6rem;
                    }

                    &__text {
                        font-size: $textBigMob;
                        line-height: 130%;

                        div {
                            span {
                                font-size: $textBigMob;
                                line-height: 130%; /* 4.68rem */
                            }
                        }
                    }

                    &__list {
                        li {
                            font-size: $textBigMob;
                            line-height: 130%; /* 4.68rem */
                            padding-left: 5.6rem;
                            background-size: 2.4rem 2rem;

                            &:not(:last-child) {
                                margin-bottom: 2rem;
                            }
                        }
                    } 
                }

                .raw-block {
                    row-gap: 1.6rem;

                    &__item {
                        padding: 1.6rem 3.2rem;
                        border-radius: 12rem;
                        font-size: $textSmallMob;
                        line-height: 130%; /* 4.16rem */
                    }
                }
            }
        }
    }
}