.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    background: rgba(27, 27, 27, 0.60);
    backdrop-filter: blur(2px);
    z-index: 10;

    &.active {
        display: block;
    }

    &-invitation {
        &__content {
            backdrop-filter: none;
            position: relative;
            top: calc(50% - 31.75rem);
            width: 129.5rem;
            height: 63.5rem;
            margin: 0 auto;
            padding-top: 16.6rem;
            border-radius: 10rem 0rem;
            background: url('../../img/modal/background.png') top left/cover no-repeat #DEDAD6;
            background-blend-mode: darken;
        }

        &__close {
            position: absolute;
            right: 3rem;
            top: 3rem;
            width: 1.9rem;
            height: 1.9rem;
        }

        &__body {
            margin: 0 auto;
            text-align: center;
            width: 63.7rem;

            .all-btn {
                margin: 0 auto;
            }
        }

        &__title {
            font-family: 'PP Neue Montreal';
            font-size: $titleBig;
            font-weight: 500;
            line-height: 110%;
            margin-bottom: 3rem;
        }

        &__subtitle {
            font-family: 'PP Neue Montreal';
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */
            margin-bottom: 4rem;
        }
    }

    &-order {
        &__content {
            backdrop-filter: none;
            position: relative;
            top: calc(50% - 31.75rem);
            width: 129.5rem;
            height: 63.5rem;
            margin: 0 auto;
            padding-top: 16.6rem;
            border-radius: 10rem 0rem;
            background: url('../../img/modal/background.png') top left/cover no-repeat #DEDAD6;
            background-blend-mode: darken;
        }

        &__close {
            position: absolute;
            right: 3rem;
            top: 3rem;
            width: 1.9rem;
            height: 1.9rem;
        }

        &__body {
            margin: 0 auto;
            text-align: center;
            width: 63.7rem;

            .all-btn {
                margin: 0 auto;
            }
        }

        &__title {
            font-family: 'PP Neue Montreal';
            font-size: $titleBig;
            font-weight: 500;
            line-height: 110%;
            margin-bottom: 3rem;
        }

        &__subtitle {
            font-family: 'PP Neue Montreal';
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */
            margin-bottom: 4rem;
        }
    }

    &-online {
        &__content {
            margin: 30.6rem auto 0 auto;
            width: 129.5rem;
            height: 46.8rem;
            background: url('../../img/modal/background.png') top left/cover no-repeat #DEDAD6;
            padding: 6rem;
            border-radius: 10rem 0rem;
            position: relative;
        }

        &__close {
            position: absolute;
            right: 3rem;
            top: 3rem;
            width: 1.9rem;
            height: 1.9rem;
        }

        &__title {
            font-size: $titleMedium;
            font-weight: 500;
            line-height: 130%; /* 3.9rem */
            padding-left: 8rem;
            background-image: url(../../img/descktop-red.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 6rem 6rem;
            margin-bottom: 3rem;
        }

        &__text {
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */

            p {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }

            a {
                color: #840D06;
            }
        }
    }

    &-offline {
        &__content {
            margin: 30.6rem auto 0 auto;
            width: 129.5rem;
            height: 46.8rem;
            background: url('../../img/modal/background.png') top left/cover no-repeat #DEDAD6;
            padding: 6rem;
            border-radius: 10rem 0rem;
            position: relative;
        }

        &__close {
            position: absolute;
            right: 3rem;
            top: 3rem;
            width: 1.9rem;
            height: 1.9rem;
        }

        &__title {
            font-size: $titleMedium;
            font-weight: 500;
            line-height: 130%; /* 3.9rem */
            padding: 1.05rem 0 1.05rem 8rem;
            background-image: url(../../img/people-red.svg);
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 6rem 6rem;
            margin-bottom: 3rem;
        }

        &__text {
            font-size: $textBig;
            line-height: 130%; /* 3.38rem */

            p {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }

            a {
                color: #840D06;
            }
        }
    }

    @media (max-width: 48em) {
        &-invitation {
            &__content {
                width: 71rem;
                height: 60.6rem;
                top: calc(50% - 30.3rem);
                padding-top: 12.2rem;
                background-position-x: -40rem;
            }
    
            &__close {
                width: 4.8rem;
                height: 4.8rem;
            }
    
            &__body {
                width: 59.8rem;
            }
    
            &__title {
                font-size: $titleMediumMob;
                line-height: 110%; /* 4.84rem */
                margin-bottom: 4rem;
            }
    
            &__subtitle {
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
                margin-bottom: 4.8rem;
            }
        }

        &-order {
            &__content {
                width: 71rem;
                height: 60.6rem;
                top: calc(50% - 30.3rem);
                padding-top: 12.2rem;
                background-position-x: -40rem;
            }
    
            &__close {
                width: 4.8rem;
                height: 4.8rem;
            }
    
            &__body {
                width: 59.8rem;
            }
    
            &__title {
                font-size: $titleMediumMob;
                line-height: 110%; /* 4.84rem */
                margin-bottom: 4rem;
            }
    
            &__subtitle {
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
                margin-bottom: 4.8rem;
            }
        }

        &-online {
            &__content {
                margin: 19rem auto 0 auto;
                width: 71rem;
                height: 124.6rem;
                padding: 12rem 6rem;
                border-radius: 12rem 0rem;
            }
    
            &__close {
                width: 4.8rem;
                height: 4.8rem;
            }
    
            &__title {
                font-size: $titleMediumMob;
                line-height: 110%; /* 4.84rem */
                background-size: 10rem 10rem;
                margin-bottom: 4.8rem;
                padding: 1.6rem 0 1.6rem 11.6rem;
            }
    
            &__text {
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
    
                p {
                    &:not(:last-child) {
                        margin-bottom: 0rem;
                    }
                }
            }
        }

        &-offline {
            &__content {
                margin: 19rem auto 0 auto;
                width: 71rem;
                height: 124.6rem;
                padding: 12rem 6rem;
                border-radius: 12rem 0rem;
            }
    
            &__close {
                width: 4.8rem;
                height: 4.8rem;
            }
    
            &__title {
                font-size: $titleMediumMob;
                line-height: 110%; /* 4.84rem */
                background-size: 10rem 10rem;
                margin-bottom: 4.8rem;
                padding: 1.6rem 0 1.6rem 11.6rem;
            }
    
            &__text {
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
    
                p {
                    &:not(:last-child) {
                        margin-bottom: 0rem;
                    }
                }
            }
        }
    }
}

