.product {
    padding-top: 22.4rem;
    margin-bottom: 20rem;
    background-image: url(../../img/product/background.png);
    background-repeat: no-repeat;
    background-size: 248.2rem 104.1rem;
    background-position: right 55rem;
   
    .container {
        min-height: auto;
    }
    &__wrapper {
        display: flex;
        margin-bottom: 10rem;
    }

    &__image {
        width: 36.8rem;
        height: 52.3rem;
        margin-right: 9rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 1.6rem;
        max-width: 71.4rem;
    }

    &__name {
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        margin-bottom: 4rem;
    }

    &__text {
        max-width: 89.7rem;
        font-size: 2.6rem;
        line-height: 130%;
        margin-bottom: 4rem;
    }

    &__inner {
        margin-bottom: 4rem;
        grid-template-columns: repeat(2, 1fr);
       
        grid-gap: 2.4rem;
        display: grid;
    }

    &__info {
        display: flex;

        strong {
            display: block;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin-right: 1.2rem;
        }

        span {
            display: block;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }

    &__block {
        display: flex;
    }

    &__smooth {
        display: inline-block;
        margin-right: 1.6rem;
     
        input {
            background: none;
            border: none;
            display: flex;
            justify-content: center;
            text-align: center;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            width: 0.8rem;
            margin-right: 2.4rem;
        }

        .number {
            display: flex;

            .minus {
                width: 6.6rem;
                height: 6.6rem;
                background: #FFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items:center;
                margin-right: 2.4rem;
                cursor: pointer;

                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
    
            .plus {
                width: 6.6rem;
                height: 6.6rem;
                background: #FFF;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items:center;
                cursor: pointer;

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }

    &__price {
        position: relative;
        color:  #840D06;
        font-size: 5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        padding-right: 1rem;
        display: block;
        height: fit-content;
        margin-right: 9rem;
        &::before {
            position: absolute;
            content:'₽';
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            // color:  #242424;
            right: 0;
            bottom: 1rem;
        }
    }

    .all-btn {
        margin-right: 1.6rem;

        span {
            margin-right: 0;
        }
        &__arrow {
            margin-left: 10.3rem;
            svg {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    &__tab {
        display: flex;
    }

    &__tab-item {
        display: flex;
        padding: 1.4rem 4rem;
        justify-content: center;
        align-items: center;
        border-radius: 6rem 0px;
        background:  #DEDAD6;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; 
        cursor: pointer;
        margin-right: 3rem;
    }

    &__tab-item:last-child {
        margin-right: 0;
    }

    &__tab-item.active {
        background:  #840D06;
        color: #fff;
    }

    &__tab-block {
        display: none;
        padding-top: 6rem;
        strong {
            display: block;
            font-size: 3rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; 
            color:#1A1A1A;
            margin-bottom: 4rem;
        }
        p {
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-bottom: 2.4rem;
            max-width: 89.7rem;
        }

        li {
            color: #1A1A1A;
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            padding-left: 3rem;
            margin-bottom: 1.6rem;
            position: relative;
            
            &:hover {
                cursor: pointer;
                color:#840D06;
            }

            &::before {
                position: absolute;
                content:'';
                width: 1.4rem;
                height: 1.4rem;
                background-image: url(../img/star.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);
            }
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    &__tab-block.active {
        display: block;
    }

    @media (max-width: 48em) {
        padding-top: 28.6rem;
        margin-bottom: 20rem;

        &__wrapper {
            position: relative;
            flex-direction: column;
            margin-bottom: 20rem;
        }

        &__image,
        &__left {
            width: 34.6rem;
            height: 49.2rem;
        }

        &__image {
            margin: 0;
        }

        &__left {
            margin-bottom: 6.4rem;
        }

        &__title {
            font-size: 4.4rem;
            line-height: 110%; /* 4.84rem */
            margin-bottom: 1.6rem;
        }

        &__name {
            font-size: 3.6rem;
            line-height: 130%; /* 4.68rem */
            margin-bottom: 4rem;
        }

        &__text {
            font-size: 3.6rem;
            line-height: 130%; /* 4.68rem */
            margin-bottom: 4rem;
        }

        &__inner {
            position: absolute;
            top: 0rem;
            left: 36.6rem;
            display: flex;
            flex-direction: column;
            row-gap: 3.2rem;
        }

        &__info {
            display: flex;
            align-items: center;
            column-gap: 1.6rem;

            &:first-child,
            &:last-child {
                flex-direction: column;
                row-gap: 1.6rem;
                align-items: flex-start;
            }

            strong {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */
                margin: 0;
            }

            span {
                font-size: 3.2rem;
                line-height: 130%; /* 4.16rem */
            }
        }

        &__block {
            flex-wrap: wrap;
            align-items: center;
            row-gap: 4rem;

            .product__price {
                order: 1;
            }

            .like {
                order: 2;
                margin-left: 48.8rem;
                width: 9.6rem;
                height: 9.6rem;

                svg {
                    width: 4.2rem;
                    height: 4.2rem;
                }
            }

            .product__smooth {
                order: 3;
            }

            .all-btn {
                order: 4;
                margin-left: auto;
                margin-right: 0;
            }
        }

        &__price {
            margin: 0;
            font-size: 4.4rem;
            line-height: 110%; /* 4.84rem */
            padding-right: 2.8rem;

            &::before {
                font-size: 3.2rem;
                line-height: 110%; /* 3.52rem */
                right: 0;
                bottom: 0.5rem;
            }
        }

        &__smooth {
            .number {
                column-gap: 4.8rem;

                .minus,
                input {
                    margin: 0;
                }

                .minus,
                .plus {
                    width: 8.8rem;
                    height: 8.8rem;

                    svg {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                input {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 3.6rem;
                    line-height: 130%; /* 4.68rem */
                }
            }
        }

        &__tab-item {
            font-size: 3.6rem;
            line-height: 130%; /* 4.68rem */
            padding: 2rem 4rem;
            border-radius: 12rem 0rem;
        }

        &__tab-block {
            padding-top: 8rem;
            font-size: 3.6rem;
            line-height: 130%; /* 4.68rem */

            p {
                font-size: 3.6rem;
                line-height: 130%; /* 4.68rem */

                &:not(:last-child) {
                    margin-bottom: 4rem;
                }
            }

            ul {
                li {
                    font-size: 3.6rem;
                    line-height: 130%; /* 4.68rem */
                    padding-left: 4.4rem;

                    &:not(:last-child) {
                        margin-bottom: 2rem;
                    }

                    &::before {
                        width: 2.4rem;
                        height: 2rem;
                        background-size: 2.4rem 2rem;
                    }
                }
            }
        }

        & + .literature {
            .literature__wrapper {
                position: relative;

                .literature__left {
                    position: absolute;
                    top: calc(100% + 4rem);
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}