.traditional-med {
    padding-top: 33.8rem;
    margin-bottom: 20rem;

    &__head {
        margin-bottom: 6rem;
    }

    &__body {
        display: flex;
    }

    &__left {
        margin-right: 16.3rem;
        display: flex;
        height: min-content;
        align-items: center;
        cursor: pointer;

        span {
            pointer-events: none;
            font-size: $titleMedium;
            font-weight: 500;
            line-height: normal;
            height: min-content;
        }

        & > svg {
            pointer-events: none;
            margin-left: 2rem;
        }
    }

    .categories {
        @media (min-width: 48em) {
            background-color: #FFF;
            position: absolute;
            left: 17rem;
            top: 59.6rem;
            border-radius: 6rem;
            padding: 5rem;
            box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.15);
            display: none;

            &.active {
                display: block;
            }

            &__list {
                margin-bottom: 0;
    
                .sublist-last {
                    margin-bottom: 1rem;
    
                    li {
                        background-image: url(../../img/point-list-item.svg);
                        background-size: 0.8rem 0.8rem;
                    }
                }
    
                .sublist-2 {
                    & > li {
                        border-bottom: 1px solid rgba(109, 109, 109, 0.20);
    
                        &:not(:last-child) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &__right {
        width: 89.7rem;
    }

    &__title {
        font-size: $titleBig;
        font-weight: 500;
        line-height: 110%; /* 6.6rem */
        margin-bottom: 3.2rem;
    }

    &__subtitle1 {
        color: #6D6D6D;
        font-size: $textBig;
        line-height: 130%; /* 3.38rem */
        margin-bottom: 11.9rem;
    }

    &__text {
        font-size: $textSmall;
        line-height: 130%; /* 2.86rem */
        margin-bottom: 2rem;

        &_medium-margin {
            margin-bottom: 4rem;
        }

        &_big-margin {
            margin-bottom: 10rem;
        }

        &_before-image {
            width: 36.6rem;
        }

        span {
            color: #840D06;
        }
    }

    &__subtitle2 {
        font-size: $titleSmall;
        font-weight: 500;
        line-height: 130%; /* 2.86rem */
        margin-bottom: 2rem;

        &_medium-margin {
            margin-bottom: 4rem;
        }

        &_big-margin {
            margin-bottom: 10rem;
        }
    }

    &__line {
        opacity: 0.5;
        background: #840D06;
        width: 36.7rem;
        height: 0.1rem;
        margin: 6rem 0 2.5rem 0;
    }

    &__img {
        width: 89.7rem;
        height: 44.6rem;
        border-radius: 18rem 0rem;
        overflow: hidden;
        margin-bottom: 6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__heading {
        font-size: $titleMedium;
        font-weight: 500;
        line-height: 130%; /* 3.9rem */
        margin-bottom: 2rem;

        &_medium-margin {
            margin-bottom: 4rem;
        }

        &_big-margin {
            margin-bottom: 10rem;
        }

        &.red {
            color: #840D06;
        }
    }

    &__table-container {
        margin-bottom: 6rem;

        &_big-margin {
            margin-bottom: 10rem;
        }
    }

    &__static-table {

        &_1 {
            .static-table__row {
                &:first-child {
                    padding-left: 22.05rem;
                    background-image: url(../../img/traditional-medecine/table-1.svg);
                    background-position: 16.25rem 5.25rem;
                    background-repeat: no-repeat;
                    background-size: 3.4rem 3.4rem;
                    font-size: $textBig;
                }
            }

            .static-table__column {
                width: 27rem;
            }
        }

        &_2 {
            .static-table__row {
                &:first-child {
                    padding-left: 10.8rem;
                    background-image: url(../../img/traditional-medecine/table-2.svg);
                    background-position: 5rem 5.25rem;
                    background-repeat: no-repeat;
                    background-size: 3.4rem 3.4rem;
                    font-size: $textBig;
                }
            }

            .static-table__column {
                &:first-child,
                &:nth-child(2) {
                    width: 20rem;
                }

                &:last-child {
                    width: 23rem;
                }
            }
        }

        &_3 {
            .static-table__row {
                &:first-child {
                    padding-left: 19.8rem;
                    background-image: url(../../img/traditional-medecine/table-3.svg);
                    background-position: 14rem 5.25rem;
                    background-repeat: no-repeat;
                    background-size: 3.4rem 3.4rem;
                    font-size: $textBig;
                }
            }

            .static-table__column {
                &:first-child {
                    width: 34.1rem;
                }

                &:last-child {
                    width: 28.7rem;
                }
            }
        }
    }

    &__list {
        margin-bottom: 2rem;

        &_medium-margin {
            margin-bottom: 4rem;
        }

        &_big-margin {
            margin-bottom: 10rem;
        }

        li {
            font-size: $textSmall;
            line-height: 130%; /* 2.86rem */
            padding-left: 3rem;
            background-image: url(../../img/list-icon.svg);
            background-position: left center;
            background-size: 1.4rem 1.3rem;
            background-repeat: no-repeat;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__last-text {
        font-size: $textBig;
        line-height: 130%; /* 3.38rem */
        margin-bottom: 4rem;
        text-align: center;
    }

    .all-btn {
        margin: 0 auto;
    }

    @media (max-width: 48em) {
        padding-top: 28.6rem;

        &__head {
            display: none;
        }

        &__left {
            margin: 0 0 4rem 0;

            &-menu {
                .categories {
                    width: 71rem;
                    min-height: 100vh;
                }
            }

            span {
                font-size: $titleMediumMob;
                font-weight: 500;
                line-height: 110%; /* 4.84rem */
            }

            & > svg {
                margin-left: 1.6rem;
            }
        }

        &__body {
            flex-direction: column;
        }

        &__right {
            width: auto;
        }

        &__title {
            font-size: $titleBigMob;
            line-height: 110%; /* 7.92rem */
            margin-bottom: 4rem;
        }

        &__subtitle1 {
            font-size: $titleSmallMob;
            line-height: 130%; /* 4.68rem */
            margin-bottom: 8rem;
        }

        &__heading {
            font-size: $titleMediumMob;
            line-height: 110%; /* 4.84rem */
            margin-bottom: 4rem;
        }

        &__text {
            font-size: $textSmallMob;
            line-height: 130%; /* 4.16rem */
            margin-bottom: 4rem;

            &_medium-margin {
                margin-bottom: 8rem;
            }

            &_big-margin {
                margin-bottom: 8rem;
            }

            &_before-image {
                width: 42.4rem;
            }
        }

        &__subtitle2 {
            font-size: $titleSmallMob;
            line-height: 130%; /* 4.68rem */
            margin-bottom: 4rem;

            &_medium-margin {
                margin-bottom: 8rem;
            }

            &_big-margin {
                margin-bottom: 8rem;
            }
        }

        &__line {
            width: 48rem;
            height: 0.2rem;
            margin: 8rem 0 2.4rem 0;
        }

        &__img {
            width: 71rem;
            height: 60rem;
            border-radius: 20rem 0rem;
            margin-bottom: 8rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__table-container {
            width: 71rem;
            overflow-x: scroll;
        }

        &__static-table {
            margin-bottom: 6rem;
    
            &_big-margin {
                margin-bottom: 10rem;
            }
    
            &_1 {
                width: 102.1rem;

                .static-table__row {
                    &:first-child {
                        padding-left: 16.4rem;
                        background-position: 4.8rem 4.4rem;
                        background-size: 6.8rem 6.8rem;
                        padding-bottom: 4.2rem;
                    }

                    &:not(:first-child) {
                        padding: 3.2rem 4.8rem;
                    }
                }
    
                .static-table__column {
                    width: 41rem;
                    font-weight: 400;
                }
            }
    
            &_2 {
                width: 143.6rem;

                .static-table__row {
                    &:first-child {
                        padding-left: 16.4rem;
                        background-position: 4.8rem 4.4rem;
                        background-size: 6.8rem 6.8rem;
                        padding-bottom: 4.2rem;
                    }

                    
                    &:not(:first-child) {
                        padding: 3.2rem 4.8rem;
                    }
                }
    
                .static-table__column {
                    &:last-child {
                        width: 47rem;
                    }
                }
            }
    
            &_3 {
                width: 111rem;

                .static-table__row {
                    &:first-child {
                        padding-left: 16.4rem;
                        background-position: 4.8rem 4.4rem;
                        background-size: 6.8rem 6.8rem;
                        padding-bottom: 4.2rem;
                    }

                    &:not(:first-child) {
                        padding: 3.2rem 4.8rem;
                    }
                }
    
                .static-table__column {
                    &:last-child {
                        width: 48.7rem;
                    }
                }
            }
        }

        &__list {
            li {
                font-size: $textSmallMob;
                line-height: 130%; /* 4.16rem */
                padding-left: 6rem;
                background-position: left 0.4rem;
                background-size: 2.8rem 2.7rem;

                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }

        &__last-text {
            font-size: $textBigMob;
            line-height: 130%; /* 4.68rem */
            text-align: left;
            margin-bottom: 8rem;
        }
    }
}